.position, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
  display: inline;
  position: relative;
  min-height: 1px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.fixed {
  position: fixed !important;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  border: 1px solid green;
}

.container-fuid {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: 1px solid blue;
}

.row {
  position: relative;
  border: 1px solid red;
}

.row::before, .row::after {
  content: " ";
  display: table;
  clear: both;
}

.col-md-1 {
  width: 8.33333%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-2 {
  width: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-4 {
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-5 {
  width: 41.66667%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-7 {
  width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-8 {
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-9 {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-10 {
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-11 {
  width: 91.66667%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.col-md-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

@media (min-width: 786px) {
  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-left {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-left {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }
}
