.position {
  float: left;
  display: inline;
  position: relative;
  min-height: 1px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.fixed {
  position: fixed !important;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  border: 1px solid green;
}

.container-fuid {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: 1px solid blue;
}

.row {
  position: relative;
  border: 1px solid red;
}

.row::before, .row::after {
  content: " ";
  display: table;
  clear: both;
}

@media (min-width: 786px) {
  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-left {
    text-align: left;
  }

  .mt-sm-10 {
    margin-top: 10px;
  }

  .mt-sm-20 {
    margin-top: 20px;
  }

  .mt-sm-30 {
    margin-top: 30px;
  }

  .mt-sm-40 {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-left {
    text-align: left;
  }

  .mt-md-10 {
    margin-top: 10px;
  }

  .mt-md-20 {
    margin-top: 20px;
  }

  .mt-md-30 {
    margin-top: 30px;
  }

  .mt-md-40 {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .mt-lg-10 {
    margin-top: 10px;
  }

  .mt-lg-20 {
    margin-top: 20px;
  }

  .mt-lg-30 {
    margin-top: 30px;
  }

  .mt-lg-40 {
    margin-top: 40px;
  }
}
