.position
  float: left
  display: inline
  position: relative
  min-height: 1px

@mixin Grid($col: 12, $padding: 1em)
  $wcol: 100/$col
  @for $n from 1 through $col
    .col-md-#{$n}
      width: $wcol*$n+0%
      padding-left: $padding
      padding-right: $padding
      @extend .position
      border: 1px solid #ccc

@mixin MarginTop()
  @for $v from 1 through 10
    .mt#{$v*10}
      margin-top: #{$v*10}px!important


// @mixin Align()
//   $refcolors: 'xs','sm','md','lg'
//   @each $c in $refcolors
//     text-#{$c}-right
//       text-align: right

@mixin Align($size)
  .text-#{$size}-right
    text-align: right
  .text-#{$size}-center
    text-align: center
  .text-#{$size}-left
    text-align: left
